@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
  --raleway: 'Raleway', sans-serif;
  --open-sans: 'Open Sans', sans-serif;

  --primary-color: hsl(217, 28%, 15%);
  --primary-color-main: hsl(218, 28%, 13%);
  --primary-color-footer: hsl(216, 53%, 9%);
  --primary-color-testimonial: hsl(219, 30%, 18%);

  --accent-color-cyan: rgb(102, 227, 219);
  --accent-color-blue: rgb(51, 158, 204);
  --accent-color-light: hsl(0, 100%, 63%);

  --fw-400: 400;
  --fw-700: 700;

  --fs-normal: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color-main);
  font-family: var(--open-sans);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 4rem 5rem;
}

.header__logo {
  max-width: 8rem;
  min-width: 5rem;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.navigation__items {
  position: relative;
  font-family: var(--raleway);
  font-size: var(--fs-normal);
  font-weight: var(--fw-400);
  list-style-type: none;
  cursor: pointer;
}

.navigation__items::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.navigation__items:hover::before {
  transform: scaleX(1);
}

.welcome-section {
  position: relative;
  background-color: var(--primary-color);
  z-index: 1;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}

.welcome__image {
  max-width: 100%;
  margin-top: 1%;
}

.welcome__content h1 {
  font-size: 2.3rem;
  font-family: var(--raleway);
  font-weight: var(--fw-700);
  text-align: center;

  line-height: 3rem;
  margin-top: 1%;
}

.welcome__content p {
  font-size: 1.2rem;
  max-width: 550px;
  text-align: center;
}

.welcome__btn-get-started {
  min-width: 15em;
  border: none;
  border-radius: 5rem;
  padding: 1rem;

  font-size: 1rem;
  font-family: var(--raleway);
  font-weight: 700;
  color: white;
  background-image: linear-gradient(
    to right,
    var(--accent-color-cyan),
    var(--accent-color-blue)
  );

  cursor: pointer;
}

.welcome__btn-get-started:hover {
  background-image: linear-gradient(
    to right,
    rgb(153, 255, 251),
    rgb(102, 204, 255)
  );
}

.bg-curvy-desktop {
  position: relative;
  z-index: -1; /* or any other value */
  width: 100%;
  min-height: 20vh;
  margin-top: -25vh;
}

.future-section {
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(500px, 400px));
  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;

  grid-gap: 5em 0em;

  background-color: var(--primary-color-main);
}

.items {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.items__image {
  max-width: 80px;
  max-height: 80px;
}

.items__title {
  font-size: 1rem;
  font-family: var(--raleway);
  margin-top: 2%;
}

.items__description {
  max-width: 80%;
  font-size: var(--fs-normal);
  text-align: center;
}

.ads-section {
  padding: 10% 0;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.ads__image {
  max-width: 40%;
}

.ads__contents {
  display: flex;
  flex-direction: column;
  max-width: 35%;

  gap: 1.1rem;
}

.contents__title {
  font-family: var(--raleway);
  font-size: 2rem;
  font-weight: 600;

  max-width: 20vw;
}

.contents__decs {
  font-family: var(--raleway);
  font-size: var(--fs-normal);
  font-weight: 500;
}

.content__button {
  position: relative;

  text-decoration: none;
  color: var(--accent-color-cyan);
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

.content__button::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.content__button:hover::before,
.content__button:hover {
  color: white;
  transform: scaleX(1);
}

.reviews-section {
  position: relative;
  margin: 0rem 7rem 4rem;
}

.bg-quotes {
  position: absolute;
  top: -35px;
  left: -10px;
  z-index: -1;
}

.reviews__items {
  display: flex;

  gap: 2.5rem;
}

.reviews {
  padding: 2.5rem 2rem 2rem 2rem;
  background-color: var(--primary-color-testimonial);

  border: none;
  border-radius: 5px;
}

.reviews__message {
  font-family: var(--raleway);
  font-size: var(--fs-normal);
  font-weight: 500;

  line-height: 1.3rem;
  letter-spacing: 0.02rem;
}

.reviews__profile-container {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 1rem;
}

.profile-img {
  width: 30px;

  border: none;
  border-radius: 1000px;
}

.reviews__profile-name {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  font-family: var(--raleway);
}

.reviews__profile-job {
  font-size: 0.55rem;
  font-family: var(--raleway);
  font-weight: 400;
  margin-top: 4%;
}

@media only screen and (min-width: 425px) and (max-width: 600px) {
  header {
    padding: 2rem 2rem;
  }

  .header__logo {
    max-width: 6rem;
  }

  .navigation ul {
    gap: 1.4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .items {
    max-width: 60%;
  }

  .future-section {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 35%);
  }
}
